* {
   box-sizing: border-box;
   /* outline: 2px solid red; */
   background-color: black;
}

div {
    margin: 0 auto;
    width: 400px;
    color: white;
    
}

ul {
    list-style-position: inside;
}

.title {
    color: white;    
}