* {
   box-sizing: border-box;
}

div {
    

    width: 400px;
    color: black;
    
}

ul {
    list-style-position: inside;
    display: flex;
    text-align: center;
}

li {
    margin: 0 auto;
    margin-right: 800px;
}

.title {

    margin: 0 auto;
    color: black;
    border: 20px;
}